.hellow-world h3 {
  margin: 40px 0 0;
}
.hellow-world ul {
  list-style-type: none;
  padding: 0;
}
.hellow-world li {
  display: inline-block;
  margin: 0 10px;
}
.hellow-world a {
  color: #42b983;
}

input {
    margin-bottom: 1rem;
}
